body{
 margin: 0;
 padding: 0;
 background: #bf1f26;
}
.center{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  text-align: center;
  width: 100%;
}
.center span{
  font-family: arial;
  font-size: 48px;
  color: #fff;
}