body
{
 margin: 0;
 padding: 0;
}

.loading:before
{
content: '';
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: #262626;
z-index: 1;
}

.loading:after
{
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 33.3%;
  width: 33.3%;
  height: 1px;
  background: #fff;
  z-index: 2;
  transform-origin: left;
  transform: scaleX(0);
  animation: animate 2s infinite alternate;
}

@keyframes animate
{
  0%
  {
    left: 33.3%;
    transform-origin: left;
    transform: translateX(0) scaleX(0);
    right: auto;
  }
  45%
  {
    left: 33.3%;
    transform-origin: left;
    transform: translateX(0) scaleX(1);
    right: auto;
  }
  50%
  {
    left: auto;
    transform-origin: right;
    transform: translateX(0) scaleX(1);
    right: 33.3%;
  }
   100%
  {
    left: auto;
    transform-origin: right;
    transform: translateX(0) scaleX(0);
    right: 33.3%;
  }
}