body
{
 margin: 0;
 padding: 0;
 background: #4c004e;
}

h1
{
  text-align: center;
  margin-top: 150px;
  font-family: "Arial Black";
  font-size: 11em;
  line-height: 1em;
  text-transform: uppercase;
  background: url("https://karavansara.files.wordpress.com/2015/04/152-free-vector-vintage-paisley-pattern-background.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 20s infinite linear;
}

@keyframes animate
{
  0%
  {
    background-position: 0 0;
  }
  50%
  {
    background-position: 100% 100%;
  }
   100%
  {
    background-position: 0 0;
  }
}